<!DOCTYPE html>
<html lang="en">
  <%- include('./common/head', { title: 'Create Post' }); %>
  <body>
    <main>
      <%- include('./common/header', { title: 'Create Post' , route: '' }); %>
      <p>Implement this yourself. It comes from createPost.ejs</p>
    </main>
  </body>
</html>
