<div class="box" style="max-width: 400px">
  <p>Deleting the post:</p>
  <h3><%=post.title%></h3>
  <form action="/posts/delete/<%=post.id%>" method="post">
    <input type="submit" value="Confirm" />
    <a href="javascript: history.go(-1);" role="button" class="secondary" style="display: block">
      Cancel
    </a>
  </form>
</div>
