<div class="box" style="max-width: 400px">
  <h1>Sign Up</h1>
  <form action="/auth/signup" method="post">
    <input type="text" name="uname" id="uname" placeholder="Username" />
    <input type="password" name="password" id="password" placeholder="Password" />
    <input type="password" name="password2" id="password2" placeholder="Confirm Password" />
    <button type="submit">Sign Up</button>
  </form>
  <div style="color: red; font-size: 14px">&nbsp;<%= errMsg %></div>
</div>
