<%- include('./common/header', { title: sub , route: '' }); %>
<div class="box">
  <div style="display: flex; justify-content: space-between; margin-bottom: 24px">
    <div><%=sub %></div>
    <%- include('./common/orderby', { orderby }) %>
  </div>
  <% posts.forEach(post=> { %> <%- include('./common/post', { post }); %> <% }) %>
</div>
