<%- include('./common/header', { title: 'Sub Groups' , route: '' }); %>
<div class="box">
  <h2><%=sub%></h2>
  <% posts.forEach(post=> { %> <%- include('./common/post', { post }); %> <% }) %>
</div>
