<%- include('./common/header', { title: 'Sub Groups' , route: 'Subgroups' }); %>
<ul class="box">
  <% subs.forEach(sub => { %>
  <li><a href="/subs/show/<%= sub %>"><%= sub %></a></li>
  <% }) %>
</ul>
