.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.header h1 {
  margin: 0;
}

.box {
  margin: 0 auto;
  padding: 36px;
  border-radius: 8px;
  box-shadow: 0 2px 16px rgba(255, 255, 255, 0.1);
}

.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  font-size: 0;
  line-height: 0;
  transition: border-color 180ms ease;
}

.triangle.down {
  border-top: 10px solid #bbb;
}

.triangle.up {
  border-bottom: 10px solid #bbb;
}

.triangle.down:hover {
  border-top-color: #fff;
}

.triangle.down.voted {
  border-top-color: #369;
}

.triangle.up:hover {
  border-bottom-color: #fff;
}

.triangle.up.voted {
  border-bottom-color: #a00;
}

.orderby {
  padding: 8px;
}

.orderby.selected {
  color: #f63;
  border-bottom: 3px solid #f63;
}

.orderby:hover {
  color: #f63;
  text-decoration: none;
}
