<div>
  <a class="orderby <%= orderby === 'date' && 'selected' %>" href="?orderby=date">New</a>
  <a class="orderby <%= orderby === 'votes' && 'selected' %>" href="?orderby=votes">Top</a>
  <a class="orderby <%= orderby === 'hot' && 'selected' %>" href="?orderby=hot">Hot</a>
  <a class="orderby <%= orderby === 'totalVotes' && 'selected' %>" href="?orderby=totalVotes"
    >Controversial</a
  >
</div>
