<div class="individualPost">
    <a href="/posts/show/<%=post.id%>">
        <%= post.title %>
    </a>
    <span style="padding: 0 24px; font-size: 24px;">/</span>
    <span>
        <%= post.creator.uname %>
    </span>
    <p style="opacity: 0.6;">
        <%= post.description %>
    </p>
</div>